%label
  %span.text_label URL
  = text_field 'bookmark', 'url'

%label
  %span.text_label Title
  = text_field 'bookmark', 'title'

%label
  %span.text_label Description
  = text_area 'bookmark', 'description'

%label
  %span.text_label Tags
  = text_field 'bookmark', 'tag_list'
