%ul
  %li
    %a{ :href => "javascript:(function(){window.location.href='#{request.url.gsub!(url_for(), "")}/urls/save?url='+encodeURIComponent(window.location.href);})()", :title => 'Bookmarklet: Drag this to your bookmark bar' } URL Shortener
  %li
    %a{ :href => "javascript:(function(){window.location.href='#{request.url.gsub!(url_for(), "")}/bookmarks/save?url='+encodeURIComponent(window.location.href);})()", :title => 'Bookmarklet: Drag this to your bookmark bar' } Add bookmark
